[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
django-cors-headers = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
social-auth-app-django = "*"
django-bootstrap-icons = "*"
django-bootstrap-v5 = "*"
django-fontawesome-5 = "*"
django-allauth = "*"
django-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.9"
