{% extends 'base.html' %}
{% block title %}Comment on a post{% endblock %}

{% block content %}


{% if user.is_authenticated %}


<h1>Add a comment</h1>
<br/> <br/>
<div class="container">

    <div class="form-group">
        <form action="" method='POST'>
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn"style="background-color: #CE7870;">Add a comment</button>


        </form>
    </div>
</div>

{% else %}
    
Please login to comment on this post.

{% endif %}
    






{% endblock %}

