{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content%}

<div class="container">
    <h5>Welcome to the app </h5>
    
</div>

<div class="card-fade-in w-100 ">
    <div class="card-body">
      <h5 class="card-title">Immigrants and Refuges</h5>
      <p class="card-text">Many immigrants have fled their homes and are in need of our support while adjusting to their new home. Please, consider donating and supporting in any way possible. We are here to provide assistance to new families setting up and finding a job. We are looking for volunteers who can help. Please, join us by signing up. </p>
      <!-- <a href="#" class="btn btn-primary">Button</a> -->
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

</div>


    

{% endblock %}


