{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content%}


<h1> Login to your Account</h1>
<br/> <br/>
<div class="">

    <div class="form-group">
        <form action="" method='POST'>
            {% csrf_token %}
            {{form.as_p}}

            <button type="submit" class="btn btn-primary my-5">Login</button>

        </form>
    </div>
</div>
<div class="social">
    <ul>
        <li class="google">
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
        </li>
    </ul>
</div>
    


{% endblock %}