{% extends 'base.html' %}

{% block content %}

<div>
    <h5>Title: {{post.title}} </h5>
    <h5>Image: {{post.image}} </h5>
    <h5>Author: {{post.author}} </h5>
    <h5>Body: {{post.body}} </h5>
    <h5>post-date: {{post.post_date}} </h5>
    
</div>
<a href="{% url 'post_update' post.pk %}">(Edit)</a>
<a href="{% url 'post_delete' post.pk %}">(Delete)</a>
<br/><br/>
<hr>

<h4>Comments Section</h4>
<br/>

{% if not post.comments.all %}
    <a href="{% url 'comment_add' post.pk %}">Add a comment</a>
{% else %}
<a href="{% url 'comment_add' post.pk %}">Add a comment</a>
<br/><br/>
    {% for comment in post.comments.all %}

        <strong>
            {{ comment.name }} - 
            {{ comment.date_added }}
        </strong>
        <br/><br/>
        {{ comment.body }}
        <br/><br/>
        
        {% endfor %}    
{% endif %}
<hr>


{% endblock %}