{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}

{% block content%}

{% if user.is_authenticated %}
  
        <h1> Update Post</h1>
        <br/> <br/>
        <div class="">
            <div class="form-group">
                <form action="" method='POST'>
                    {% csrf_token %}
                    {{form.as_p}}

                    <button type="submit" class="btn btn-primary my-5">Update</button>
                    <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
                </form>
            </div>
        </div>
    

{% else %}
    
You're not allowed here.

{% endif %}

{% endblock %}