{% extends 'base.html' %}
{% block title %}Delete Post{% endblock %}
{% block content %}


<div class="container text-center mx-auto mt-5">


<div class="card-fade-in ">
    <div class="card-header ">
        <h4>Delete a post.</h4>
        <p>Are you sure you want to delete "{{post.title}}"?</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    
                </div>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}

            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <button class="btn" style="background-color: #CE7870;">Yes</button>
                <a class="btn btn-secondary" href="{% url 'post_detail' post.pk %}">Cancel</a>
            </form>
                {% else%}
                    You're not allowed here.
                {% endif %}
        
                {% else %}
        
                    You're not allowed here.
        
            {% endif %}
        </div>
    </div>

</div>
</div>


{% endblock %}

