{% extends 'base.html' %}

{% block content %}

<div>

    <h5>Title: {{post.title}} </h5>
    <!-- <h5>Image: {{post.image}} </h5> -->
    <!-- <h5>Author: {{post.author}} </h5> -->
    <!-- <h5>Body: {{post.body}} </h5> -->

    <small>By: {{post.author.first_name}} - {{post.post_date}}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}

        <a href="{% url 'post_update' post.pk %}">(Edit)</a>
        <a href="{% url 'post_delete' post.pk %}">(Delete)</a>

        {% endif %}

    {% endif %}

</small><br/>
    
</div>
<hr>
<!-- <h5>Image: {{post.image}} </h5> -->
<h5>Body: {{post.body|safe}} </h5>
<br/><br/>

<a href="{% url 'post_list' %}" class="btn btn-secondary">Back</a>
<br/>
<hr>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}

{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> 
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 

    {% endif %}
{% else %}
<small><a href="{% url 'login' %}">Login</a> to like this post</small>
{% endif %}
    - {{ total_likes }} Likes

</form>
<br/><br/>


<h4>Comments Section</h4>
<br/>

{% if user.is_authenticated %}
    {% if not post.comments.all %}
        <a href="{% url 'comment_add' post.pk %}">Add a Comment</a>
    {% else %}

        <a href="{% url 'comment_add' post.pk %}">Add a comment</a>
        <br/><br/>
        {% for comment in post.comments.all %}

            <strong>
                {{ comment.name }} 
                {{ comment.date_added }}
            </strong>
            <br/><br/>
            {{ comment.body }}
            <br/><br/>
        
        {% endfor %}    
    {% endif %}
{% else %}
    <small><a href="{% url 'login' %}">Login</a> to comment on this post</small>
{% endif %}

<hr>


{% endblock %}