{% extends 'base.html' %}
{% block title %}Delete a Post{% endblock %}
{% block content %}


{% if user.is_authenticated %}

    {% if user.id == post.author.id %}

    <h4>Delete a post.</h4>
    <p>Are you sure you want to delete "{{post.title}}"?</p>
    <form method="post">
        {% csrf_token %}
        <!-- <input type="submit" style="background-color: #CE7870;" value="Yes"/> -->
        <button class="btn" style="background-color: #CE7870;">Yes</button>
        <a class="btn btn-secondary" href="{% url 'post_detail' post.pk %}">Cancel</a>
    </form>

    {% else%}
    You're not allowed here.
{% endif %}

{% else %}

You're not allowed here.

{% endif %}


{% endblock %}

