{% extends 'base.html' %}
{% load static %}

{% block title %}Post Details{% endblock %}
{% block content %}

<div class="card mx-auto mt-5 " style="max-width: 80rem;">
    <div class="card-header" style="color: #6E7D75; background-color: #eaeff0;">
        <h5>Title: {{post.title}}</h5>
    </div>
    <div class="card-body">
      <h3 class="card-text" style="color: #5e987a;" >{{post.body|safe}} </h3>
     
    </div>
    <div class="card-footer text-muted bg-transparent">
        <small>By: {{post.author.first_name}} - {{post.post_date}}

            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}

                <div class="text-right">
                    <a class="btn btn-sm" style="background-color: #BECBCF;"  href="{% url 'post_update' post.pk %}">Edit</a>
                    <a class="btn btn-sm" style="background-color: #BECBCF;" href="{% url 'post_delete' post.pk %}">Delete</a>
                </div>
                
        
                {% endif %}
        
            {% endif %}
        
        </small>
    </div>
  </div>

<div class="card  mx-auto " style="max-width: 80rem;">
    <div class="card-header text-center" style="color: #6E7D75; background-color: #eaeff0;">
        <h4>Comments Section</h4>
    </div>
    <div class="card-body" style="color: #5e987a;">
            {% for comment in post.comments.all %}
    
                <strong>
                    {{ comment.author.first_name }} -  
                    {{ comment.date_added }}
                </strong>
                <br/><br/>
                {{ comment.body }}
                <br/><br/>
            
            {% endfor %}    
     
     
    </div>
    <div class="card-footer text-muted bg-transparent">
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
        
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-sm" style="color: #2e3531; background-color: #BECBCF;">Unlike</button> 
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-sm" style="color: #2e3531; background-color: #53ba94;"><i class="fa fa-gittip"></i>Like</button> 
        
            {% endif %}
        {% else %}
        <small><a href="{% url 'login' %}">Login</a> to like this post</small>
        {% endif %}
            - {{ total_likes }} Likes
        
        </form>
        {% if user.is_authenticated %}
        {% if not post.comments.all %}
        <a class="btn btn-sm" style="color: #2e3531; background-color: #d6a09c;" href="{% url 'comment_add' post.pk %}" class="card-link"><i class="fa fa-comment"></i> Comment</a>
        {% else %}
        <a class="btn btn-sm" style="color: #2e3531; background-color: #d6a09c;" href="{% url 'comment_add' post.pk %}" class="card-link"><i class="fa fa-comment"></i> Comment</a>
       
        {% endif %}
    {% else %}
        <small><a href="{% url 'login' %}">Login</a> to comment on this post</small>
    {% endif %}



        </small>
    </div>
  </div>
<br/>

<!-- <img class="rounded" src="{{post.author.profile.profile_pic.url}}" width=100 height=100> -->



{% endblock %}