{% extends 'base.html' %} 

{% block title %}User Account{% endblock %}

{% block content %} 


{% if user.is_authenticated %}

<div class="container text-center mt-5" style="color: #283d32;">  
    <h2>List of {{user.first_name}}'s Posts</h2>

</div>


<div class="card mx-auto mt-5 " style="max-width: 80rem;">
    {% for post in posts %}
    <div class="card-header" style="color: #6E7D75; background-color: #eaeff0;">
        <h6>Title: {{post.title}} </h6>
        <div class="text-right">
            <a class="btn btn-sm" style="background-color: #BECBCF;" href="{% url 'post_update' post.pk %}">Edit</a>
            <a class="btn btn-sm" style="background-color: #BECBCF;" href="{% url 'post_delete' post.pk %}">Delete</a>
        </div>
    </div>
    <div class="card-body">
      <div class="card-text" style="color: #283d32;" >
        <h6>{{post.body}} </h6>
      </div>
    </div>
    <div class="card-footer text-muted bg-transparent">
        <small>Posted on: {{post.post_date}} 

            {% endfor %}
        </small>
    </div>
  </div>

  {% endif %}


{% endblock %}















