{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content%}

{% if errors %}
<p style="color: red;">{{ errors }}</p>
{% endif %}



<!-- {% if form.errors %}
{% for field in form %}
    {% for error in field.errors %} 
       <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
       </div>
    {% endfor %}
{% endfor %}
{% endif %} -->

<div class="text-center">
    <div class="p-5 bg-image" style="
          background-image: url(https://media.istockphoto.com/photos/lots-of-empty-space-for-lettering-and-design-empty-light-green-flat-picture-id1280738777?k=20&m=1280738777&s=612x612&w=0&h=t7daE77Gwu5jQCvVBltS2uk34o_BRK85bTaiJoIImkE=);
          height: 300px;
          ">
    </div> 
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: rgb(247, 245, 245);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Register for an Account</h2>
            <form action="" method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
       
              <div class="d-grid gap-2">
                <button class="btn" style="background-color: #CE7870;" type="submit">Sign up</button>
                <!-- <a href="{% url 'login' %}" class="btn btn-outline-danger btn-lg" role="button" >Sign up</a> -->
                <!-- <button class="btn btn-primary" type="button" href="{% url 'login' %}">Sign up</button>
                <button class="btn btn-primary" type="button" href="{% url 'login' %}">Signup</button> -->
               
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}