
    <title>Donate</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

        <div class="product">
            <div class="description">
                <h3>{{ product.name }}</h3>
                <hr />
                {% for price in prices %}

                <div>
                    <h5>${{ price.price }}</h5>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button type="submit">Checkout</button>


                    </form>
                </div>

                {% endfor %}
            </div>
        </div>
 





<!-- <h1>
    Please, donate here
</h1>

 <form action="" method="POST">
    {% csrf_token %}
    <button type="submit" id="checkout-button">Checkout</button>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="STRIPE_PUBLISHABLE_KEY"
        data-description = "A donation payment"
        data-amount="1000"
        currency = 'usd'>
    </script>
</form> -->




    <!-- <div class="container">
      <div class="product">
        <img src="" alt="" />
        <div class="description">
          <h3>Please, donate here</h3>
          <h5>$20.00</h5>
        </div>
      </div>
      <form action="/create-checkout-session" method="POST">
        <button id="checkout-button" type="submit" >Checkout</button>
      </form>
    </div>
  -->

