{% extends 'base.html' %}


{% block content%}


<div class="card border-success mb-3" style="margin: 5rem;">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>“Our attitude towards immigration reflects our faith in the American ideal. We have always believed it possible for men and women who start at the bottom to rise as far as the talent and energy allow. Neither race nor place of birth should affect their chances.”</p>
      <footer class="blockquote-footer">Senator Robert F. Kennedy <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>

<div class="container">
  <div class="row " style="margin: 5rem;">
    <div class="col-sm-6">
      <div class="card border-info mb-3">
        <div class="card-body text-secondary">
          <h5 class="card-text">“Our attitude towards immigration reflects our faith in the American ideal. We have always believed it possible for men and women who start at the bottom to rise as far as the talent and energy allow. Neither race nor place of birth should affect their chances.”</h5>
          <p class="card-text">Senator Robert F. Kennedy</p>
          <!-- <a href="#" class="btn btn-primary"></a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-info mb-3">
        <div class="card-body">
          <h5 class="card-title">Please consider donating to help a family in need.</h5>
          <p class="card-text">Every dollar counts.</p>
            <form action="{% url 'success' %}" method="POST">
              {% csrf_token %}
            <!-- <button type="submit" id="checkout-button">Checkout</button> -->
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ key }}"
                  data-description = "A donation payment"
                  data-amount="1000"
                  currency = 'usd'>
              </script>
            </form>
          <!-- <a href="#" class="btn btn-primary"></a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-info mb-3">
        <div class="card-body">
          <h5 class="card-title">Please consider donating to help a family in need.</h5>
          <p class="card-text">Every dollar counts.</p>
            <form action="{% url 'success' %}" method="POST">
              {% csrf_token %}
            <!-- <button type="submit" id="checkout-button">Checkout</button> -->
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ key }}"
                  data-description = "A donation payment"
                  data-amount="5000"
                  currency = 'usd'>
              </script>
            </form>
          <!-- <a href="#" class="btn btn-primary"></a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-info mb-3">
        <div class="card-body">
          <h5 class="card-title">Please consider donating to help a family in need.</h5>
          <p class="card-text">Every dollar counts.</p>
            <form action="{% url 'success' %}" method="POST">
              {% csrf_token %}
            <!-- <button type="submit" id="checkout-button">Checkout</button> -->
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ key }}"
                  data-description = "A donation payment"
                  data-amount="10000"
                  currency = 'usd'>
              </script>
            </form>
          <!-- <a href="#" class="btn btn-primary"></a> -->
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}







<!-- <div class="container">
  <form action="{% url 'success' %}" method="POST">
    {% csrf_token %}
    <button type="submit" id="checkout-button">Checkout</button> --> 
    <!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ key }}"
        data-description = "A donation payment"
        data-amount="1000"
        currency = 'usd'>
    </script>
</form>

</div> --> 



    <!-- <div class="container">
      <div class="product">
        <img src="" alt="" />
        <div class="description">
          <h3>Please, donate here</h3>
          <h5>$20.00</h5>
        </div>
      </div>
      <form action="/create-checkout-session" method="POST">
        <button id="checkout-button" type="submit" >Checkout</button>
      </form>
    </div>
  -->

